
 body {
   color: rgb(255, 254, 254);
   background: black;
   margin: 0px;
}
header{
          border-bottom: solid 2px rgb(250, 191, 171);
      padding: 20px;
      font-size: 32px;
    color: rgb(250, 191, 171);
   
}

section {
   background: rgb(254, 202, 181);
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}

.chamada-texto {
   margin-right: 5%;
}

img {
   height: 200px;
}

.categoria-videos {
   display: flex;
   overflow-x: auto;
   gap: 10px;
}

.categoria {
   padding-left: 20px;
   padding-right: 20px;
}
